*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
.body{
  background: #e7e7e9;
}
.container{
  width: 100%;
}
.MegaMenu{
  width: 100%;
  height: 60px;
}
.MegaMenu ul{
  width: 100%;
  height: 100%;
  background: #000000;
  text-align: center;
  line-height: 59px;
  position: relative;
}
.MegaMenu ul li{
  display: inline-block;
  margin: 0 15px;
  padding: 0 15px;
}
.MegaMenu ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 12px;
  display: block;
}

.MegaMenu ul li .sub_menu{
  position: absolute;
  background: #2c2c2c;
  width: 100%;
  left: 0;
  top: 60px;
  padding: 25px 15px;
  display: flex;
  justify-content: space-around;
  line-height: 24px;
  visibility: hidden;
}
.MegaMenu ul li:hover{
  background: #2c2c2c;
}
.MegaMenu ul li:hover a{
  color: #ca914e;
}
.MegaMenu ul li:hover .sub_menu{
  visibility: visible;
}
.MegaMenu ul li .sub_menu .col img{
  width: 250px;
  height: 180px;
  display: block;
}

.MegaMenu ul li .sub_menu p{
  color: #fff;
  margin-top: 15px;
  font-size: 14px;
}
.MegaMenu ul li .sub_menu h4{
  color: #ca914e;
}